<tr hx-target="this" hx-swap="outerHTML">
    <td>{{ bill.bill }}</td>
    <td>R${{ bill.value }}</td>
    <td>{{ bill.payment_method }}</td>
    <td>{{ bill.payment_date }}</td>
    <td>
        {% if bill.paid %}Pago{% else %}Pendente{% endif %}
    </td>
    <td>
        <button class="btn btn-outline-dark"
              hx-get="{% url 'bills:detail_bill' bill.id %}">
            <i class="fa-regular fa-pen-to-square"></i>
        </button>
        <button class="btn btn-outline-danger">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </td>
</tr>