<tr hx-target="this" hx-swap="outerHTML">
    <td>{{ invoice.purchase }}</td>
    <td>R${{ invoice.total }}</td>
    <td>{{ invoice.card }}</td>
    <td>{{ invoice.card.maturity }}</td>
    <td>
        <button class="btn btn-outline-dark"
                hx-get="{% url 'bills:detail_extra_invoice' invoice.id %}">
            <i class="fa-regular fa-pen-to-square"></i>
        </button>
        <button class="btn btn-outline-danger"
                hx-delete="{% url 'bills:delete_extra_invoice' invoice.id %}"
                hx-confirm="Deseja mesmo deletar?"
                hx-target="closest tr"
                hx-swap="outerHTML swap:500ms">
            <i class="fa-solid fa-trash"></i>
        </button>
    </td>
</tr>