<tr hx-target="this" hx-swap="outerHTML">
    <td>{{ invoice.purchase }}</td>
    <td>R${{ invoice.installment_value }}</td>
    <td>
        {% if invoice.is_fixed %}Fixo
        {% else %}{{ invoice.current_installment }}/{{ invoice.installments }}
        {% endif %}
    </td>
    <td>R${{ invoice.total }}</td>
    <td>
        <span class="clickable"
                hx-get="{% url 'bills:detail_invoice' invoice.id %}">
            <i class="fa-regular fa-pen-to-square"></i>
        </span>
    </td>
</tr>