<tr hx-target="this" hx-swap="outerHTML">
    <form method="delete">
        {% csrf_token %}
    <td>{{ earning.earning }}</td>
    <td>R${{ earning.value }}</td>
    <td>
        <button class="btn btn-outline-dark"
                hx-get="{% url 'balance:detail_earning' earning.id %}">
            <i class="fa-regular fa-pen-to-square"></i>
        </button>
        <button class="btn btn-outline-danger"
                hx-delete="{% url 'balance:delete_earning' earning.id %}"
                hx-confirm="Deseja mesmo deletar?"
                hx-target="closest tr"
                hx-swap="outerHTML swap:500ms">
            <i class="fa-solid fa-trash"></i>
        </button>
    </td>
    </form>
</tr>