<!--    BALANÇO GERAL    -->
<div class="col">
    <div>
        <form>
            <table class="table">
                <thead class="table-success">
                <tr>
                    <th scope="col">Balanço</th>
                    <th scope="col">Valor</th>
                    <th scope="col">
                        <a href="{% url 'balance:add_earning' %}">add</a>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% include "earning-table.html" %}
                <tr>
                    <td>Descontos</td>
                    <td>- R${{ total_discounts }}</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th scope="col">Total</th>
                    <th scope="col">R${{ total_balance }}</th>
                </tr>
                </tfoot>
            </table>
        </form>
    </div>
</div>
<!--    DESCONTOS    -->
<div class="col">
    <div class="col">
        <div>
            <form>
                <table class="table">
                    <thead class="table-danger">
                    <tr>
                        <th scope="col">Descontos</th>
                        <th scope="col">Valor</th>
                        <th scope="col">
                            <a href="{% url 'balance:add_discount' %}">add</a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% include "discount-table.html" %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th scope="col">Total</th>
                        <th scope="col">R${{ total_discounts }}</th>
                    </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>
</div>