<!--  COMPRAS FIXAS E PARCELADAS  -->
<div class="col">
    <div>
        <form>
            <table class="table">
                <thead class="table-info">
                <tr>
                    <th scope="col">Fatura</th>
                    <th scope="col">Valor por mês</th>
                    <th scope="col">Parcelamento</th>
                    <th scope="col">Valor Total</th>
                    <th scope="col">
                        <a href="{% url 'bills:add_invoice' %}">add</a>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for invoice in invoices %}
                {% include "hx/invoice-hx.html" %}
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th scope="col">Total</th>
                    <th scope="col">R${{ total_invoices }}</th>
                </tr>
                </tfoot>
            </table>
        </form>
    </div>
</div>
<!--  COMPRAS EXTRAS NO CARTÃO  -->
<div class="col">
    <div>
        <form>
            <table class="table">
                <thead class="table-warning">
                <tr>
                    <th scope="col">Compras extras</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Cartão</th>
                    <th scope="col">Vencimento</th>
                    <th scope="col">
                        <a href="{% url 'bills:add_extra_invoice' %}">add</a>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for invoice in extra_invoices %}
                {% include "hx/extra-invoice-hx.html" %}
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th scope="col">Total</th>
                    <th scope="col">R${{ total_extra_invoices }}</th>
                </tr>
                </tfoot>
            </table>
        </form>
    </div>
</div>