<div class="col">
    <div>
        <form>
            <table class="table">
                <thead class="table-dark">
                <tr>
                    <th scope="col">A quem eu devo</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Motivo</th>
                    <th scope="col">Quando cobrar</th>
                    <th scope="col">
                        <a href="{% url 'agreements:add_receiver' %}">add</a>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% include "receivers-table.html" %}
                </tbody>
                <tfoot>
                <tr>
                    <th scope="col">Total</th>
                    <th scope="col">R${{ total_receivers }}</th>
                </tr>
                </tfoot>
            </table>
        </form>
    </div>
</div>